.call-to-action {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 1.5rem;
  text-align: center;
  background-color: hsl(var(--navy-850));
  padding-inline: 1.8rem;
  padding-block: 3rem;
  border-radius: 10px;
  letter-spacing: 1px;
}

.cta-form {
  display: flex;
  flex-direction: column;
  gap: 2rem;
  width: 100%;
}

.cta-input {
  padding-block: 1.2rem;
  padding-inline: 1.8rem;
  border-radius: 1.8rem;
  border: none;
}

.cta-button {
  padding-block: 1.2rem;
  background-color: hsl(var(--cyan-500));
  color: hsl(var(--white));
  font-family: var(--ff-raleway);
  font-weight: var(--fw-700);
  border: none;
  border-radius: 1.8rem;
  letter-spacing: 1.2px;
  cursor: pointer;
}