.features-section {
  max-width: 1000px;
  margin-inline: auto;
  padding-inline: 2rem;
  margin-block-end: 8rem;

  display: grid;
  grid-template-columns: 1fr;
  gap: 6rem;

  align-items: start;
  text-align: center;
}

.feature {
  display: flex;
  flex-direction: column;
  justify-content: start;
  align-items: center;
}

.feature > * {
  padding-block-end: 1rem;
}

.feature img {
  width: 80px;
  height: 80px;
  object-fit: contain;
  padding-block-end: 2rem;
}

.features-heading {
  font-family: var(--ff-raleway);
  text-wrap: nowrap;
}

@media (min-width: 1024px) {
  .features-section {
    grid-template-columns: repeat(2, 1fr);
    gap: 6rem 6rem;
  }

  .features-heading {
    font-size: 1rem;
  }

  .feature img {
    width: 100px;
    height: 100px;
    object-fit: contain;
    padding-block-end: 2rem;
  }
}