.footer-section {
  background-color: hsl(var(--navy-950));
  display: flex;
  flex-direction: column;
  gap: 2rem;
  padding-inline: 1.8rem;
  padding-block-start: 19rem;
  padding-block-end: 3rem;
}

.fylo-logo {
  width: 50%;
}

.location-info,
.phone-info,
.email-info {
  display: flex;
  flex-direction: row;
  gap: 2rem;
}

.location-info {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
}

.footer-nav ul {
  padding: 0;
}

.footer-nav li {
  list-style: none;
}

.footer-nav a {
  text-decoration: none;
  color: hsl(var(--white));
}