.hero-section {
  display: flex;
  flex-direction: column;
  gap: 2rem;
  text-align: center;
  margin-block-end: 10rem;
  background-color: hsl(var(--navy-900));
  z-index: -2;
}

.hero-first-section {
  display: flex;
  flex-direction: column;
  gap: 2rem;
  position: relative;
  background-color: hsl(var(--navy-850));
  padding-inline: clamp(2rem, 8vw, 8rem);
  z-index: 10;
}

.hero-second-section {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 2rem;
  position: relative;
  background-color: hsl(var(--navy-900));
  padding-inline: 2rem;
  font-size: 1rem;
}

.hero-background {
  position: absolute;
  bottom: 0;
  left: 0;
  right: 0;
  width: 100%;
  z-index: -1;
}

.hero-background img {
  width: 100%;
  display: block;
}

.hero-heading {
  font-family: var(--ff-raleway);
  line-height: 1.5;
  letter-spacing: normal;
}

.hero-info {
  line-height: 1.5;
}

.get-started-btn {
  width: 300px;
  padding-block: 1.25rem;
  background-image: linear-gradient(to right,
    hsl(var(--cyan-500)/0.50),
    hsl(var(--cyan-500))
  );
  color: hsl(var(--white));
  font-family: var(--ff-raleway);
  font-weight: var(--fw-700);
  font-size: 1rem;
  border: none;
  border-radius: 2rem;
  letter-spacing: 1px;
  cursor: pointer;
}