.hero-section {
  display: flex;
  flex-direction: column;

  background-image: url(../assets/images/bg-curvy-mobile.svg);
  background-repeat: no-repeat;

  text-align: center;
}

.hero-heading {
  font-family: var(--ff-raleway);
  line-height: 1.5;
  letter-spacing: normal;
}

.hero-info {
  line-height: 1.5;
}

.get-started-btn {
  margin-inline: 2.5rem;
  padding-block: 1rem;
  background-color: hsl(var(--cyan-500));
  color: hsl(var(--white));
  font-family: var(--ff-raleway);
  font-weight: var(--fw-700);
  border: none;
  border-radius: 1.6rem;
  letter-spacing: 1.2px;
  cursor: pointer;
}