.hero-section {
  display: flex;
  flex-direction: column;
  gap: 2rem;
  background-image: linear-gradient(
      hsl(var(--navy-850)));
  height: 50vh;
  position: relative;
  text-align: center;
  padding-inline: 2rem;
  margin-block-end: 10rem;
  z-index: -10;
  /* background-image:
    url(../assets/images/bg-curvy-mobile.svg), linear-gradient(
      hsl(var(--navy-850)) 70%,
      hsl(var(--navy-900)) 30%
    );
  background-repeat: no-repeat, no-repeat;
  background-position: center bottom 40%, center;
  background-size: contain, cover; */

  
}

.hero-wave {
  width: 100%;
  display: block;
  position: absolute;
  top: 35%;
  left: 0;
  right: 0;
  z-index: -1;
}

.hero-heading {
  font-family: var(--ff-raleway);
  line-height: 1.5;
  letter-spacing: normal;
}

.hero-info {
  line-height: 1.5;
}

.get-started-btn {
  margin-inline: 2.5rem;
  padding-block: 1rem;
  background-color: hsl(var(--cyan-500));
  color: hsl(var(--white));
  font-family: var(--ff-raleway);
  font-weight: var(--fw-700);
  border: none;
  border-radius: 1.6rem;
  letter-spacing: 1.2px;
  cursor: pointer;
}