.hero {
  text-align: center;
  margin-bottom: 8rem;
}

.hero-top {
  background-color: hsl(var(--navy-850));
  background-image: url('../assets/images/bg-curvy-mobile.svg');
  background-repeat: no-repeat;
  background-position: bottom center;
  background-size: 100% auto;
}

@media (min-width: 768px) {
  .hero-top {
    background-image: url('../assets/images/bg-curvy-desktop.svg');
  }
}

.hero-bottom {
  background-color: hsl(var(--navy-900));
  padding: 2rem 0;
}

.container {
  max-width: 1100px;
  margin-inline: auto;
  padding-inline: 2rem;

  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 2rem;
}

.hero-img {
  width: clamp(250px, 60%, 600px);
  height: auto;
  display: block;
}

.hero-heading {
  max-width: 600px;
  font-family: var(--ff-raleway);
  line-height: 1.5;
}

.hero-info {
  max-width: 500px;
  line-height: 1.5;
}

.get-started-btn {
  width: min(100%, 300px);
  padding-block: 1.25rem;

  background-image: linear-gradient(
    to right,
    hsl(var(--cyan-500)/0.50),
    hsl(var(--cyan-500))
  );

  color: hsl(var(--white));
  font-family: var(--ff-raleway);
  font-weight: var(--fw-700);
  font-size: 1rem;

  border: none;
  border-radius: 2rem;
  letter-spacing: 1px;
  cursor: pointer;
} 