.overview-section {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 2rem;

  margin-block-end: 10rem;
  
  max-width: 800px;
  margin-inline: auto;
  padding-inline: 2rem;
}

.overview-section > :first-child {
  margin-block-end: 2rem;
}

.overview-image-container {
  flex: 1;
}

.overview-image {
  background-color: hsl(var(--navy-900));
  width: 100%;
  height: auto;
  display: block;
}

.overview-text-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  gap: 1rem;
  width: 100%;
  flex: 1;
}

.desktop-break {
  display: inline;
}

.link-wrapper {
  align-self: flex-start;
  /* ja parent ir flex column */
}

.fylo-workd-link {
  display: flex;
  flex-direction: row;
  align-items: center;
  gap: .5rem;
  border-bottom: 1px solid hsl(var(--teal-200));
  padding-block: .5rem;
  cursor: pointer;
}

.fylo-workd-link:hover {
  border-bottom: 1px solid hsl(var(--white));
}

.fylo-workd-link span {
  color: hsl(var(--teal-200));
  transition: color 0.15s ease;
}

.fylo-workd-link:hover span {
  color: hsl(var(--white));
}

.fylo-workd-link .circle-fill {
  transition: fill 0.3s ease;
}

.fylo-workd-link:hover .circle-fill {
  fill: hsl(var(--white));
}

@media (min-width: 1024px) {
  .overview-section {
    flex-direction: row;
    gap: 4rem;
    max-width: 1300px;
    padding-inline: clamp(2rem, 5vw, 6rem);
  }

  .overview-image-container {
    justify-items: center;
  }

  .overview-heading {
    font-size: 2rem;
    text-wrap: nowrap;
  }

  .desktop-break {
    display: block;
  }
}