.reviews {
  display: flex;
  flex-direction: column;
  padding-inline: 3rem;
  padding-block-end: 20rem;
  max-width: clamp(960px, 70%, 1600px);
  margin-left: auto;
  margin-right: auto;
  left: 0;
  right: 0;
}

.reviews > *:not(:first-child) {
  margin-bottom: 2rem;
}

.review-cards {
  display: flex;
  flex-direction: column;
  gap: 3rem;
}

.review-card {
  display: flex;
  flex-direction: column;
  gap: 1rem;
  background-color: hsl(var(--navy-800));
  padding: 1.5rem 2rem 1.5rem 1.5rem;
  border-radius: 5px;
  font-size: var(--fs-50);
  letter-spacing: .6px;
  line-height: 2;
  box-shadow: 2px 2px 6px 6px hsl(var(--navy-800)/0.25);
}

.author {
  display: flex;
  flex-direction: row;
  justify-content: start;
  align-items: center;
  gap: .8rem;
}

.author-image {
  width: 30px;
  height: 30px;
  border-radius: 15px;
}

.author p {
  font-size: .60rem;
}

.quotes-image-container {
  display: flex;
  align-items: end;
}

.quotes-image {
  width: 30px;
  position: relative;
}

@media (min-width: 1024px) {
  .review-cards {
    flex-direction: row;
    gap: 2.5rem;
  }

  .review-card {
    line-height: 1.5;
  }
}
